---
import Callout from "../components/Callout.astro";
import HeroSection from "../components/HeroSection.astro";
import MyBooks from "../components/MyBooks.astro";
import RecentPosts from "../components/RecentPosts.astro";
import SpeakingEngagements from "../components/SpeakingEngagements.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/getPosts";
import { books } from "./books.astro";
const testimonials = books[0].testimonials;

export const prerender = true;

const postData = await getPosts();
const recentPosts = postData[0].recentPosts;
const title = "Joshua Ryan Butler";
const description =
  "I’m the author of God Is On Your Side (and a few other books). I love shifting paradigms, to help people who wrestle with tough topics of the Christian faith by confronting popular caricatures and replacing them with the real thing.";
---

<Layout title={title} description={description} slug="home">
  <HeroSection slot="header" />
  <main>
    <section class="outer-container">
      <Callout />
    </section>
    <section class="outer-container">
      <Testimonials
        testimonials={testimonials?.slice(0, 2)}
        title={books[0].title}
      />
    </section>
    <MyBooks books={books} />
    <section class="py-[140px] grid md:grid-cols-2 gap-20 outer-container">
      <RecentPosts posts={recentPosts} />
      <SpeakingEngagements />
    </section>
  </main>
</Layout>

<style>
  figure img {
    width: 100%;
    box-shadow: 16px 16px 0px 0px var(--gold);
  }
</style>
