---
const { id, title, description, postImage, options } = Astro.props;
---

<section class="grid gap-10">
  <h4 id={id}>{title}</h4>
  <figure>
    <img src={postImage} />
  </figure>
  <!-- <p>{description}</p> -->
  <a href={`${Astro.url.origin}/books/${id}`}>Learn More</a>
</section>
