---
import Download from "../../components/Download.astro";
import MyBooks from "../../components/MyBooks.astro";
import Testimonials from "../../components/Testimonials.astro";
import WhereToBuy from "../../components/WhereToBuy.astro";
import Layout from "../../layouts/Layout.astro";
import { books } from "../books.astro";
export const prerender = true;

export const getStaticPaths = async () => {
  return books.map((book: any) => ({
    params: { book: book.id },
    props: { ...book, otherBooks: books.filter((b) => b.id !== book.id) },
  }));
};

const {
  title,
  description,
  slug,
  featuredImage,
  options,
  testimonials = [],
  otherBooks = [],
  pdf,
} = Astro.props;
---

<Layout title={title} description={description} slug={slug}>
  <main class="outer-container mt-20 relative">
    <div
      class="md:grid md:gap-[120px] relative md:grid-cols-[auto_1fr] min-h-0 pt-10"
    >
      <figure
        class="w-full sm:max-w-[350px] md:sticky top-0 self-start pt-10 mb-8"
      >
        <img src={featuredImage} alt={title} />
      </figure>
      <div class="grid gap-12">
        <div>
          <h1 class="text-3xl md:text-4xl font-bold mb-4">{title}</h1>
          <h5 class="italic text-[20px]">by Josuhua Ryan Butler</h5>
        </div>
        <div>
          <h4 class="text-lg mb-4">About</h4>
          <p>{description}</p>
        </div>
        {pdf && <Download pdf={pdf} />}
        <WhereToBuy options={options} />
      </div>
    </div>
    {
      testimonials.length > 0 && (
        <Testimonials title={title} testimonials={testimonials} />
      )
    }
  </main>
  <MyBooks books={otherBooks} />
  <div class="h-[200px]"></div>
</Layout>
