---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
export interface Props {
  title: string;
  description: string;
  slug: string;
}

const { title, description, slug } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;700&display=swap"
      rel="preload"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={`${Astro.url.origin}/meta/${slug}.png`}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={`${Astro.url.origin}/meta/${slug}.png`}
    />
  </head>
  <body class="text-2xl">
    <slot name="bg" />
    <!-- <Banner /> -->
    <header>
      <NavBar />
      <div class="outer-container fade-in">
        <slot name="header" />
      </div>
    </header>
    <div class="font-serif font-medium relative fade-in">
      <slot />
    </div>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --bg-alt: #FAF6EF;
    --bg-main: #fff;
    --bg-light-purple: #f2f3fc;
    --bg-dark: #000;
    --text-muted: #f2f2f2;
    --text-gray: #333333;
    --text-default: #000;
    --gold: rgb(209, 161, 95);
    --light-blue: #ebedff;
    --light-blue-2: rgba(30, 117, 175, 0.05);
    --light-orange :rgb(253, 125, 59,.05);
  }

  html {
    font-family: "Crimson Text", serif;
    background-color: #f6f6f6;
  }

  * {
    scroll-behavior: smooth;
  }

  h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700 !important;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0;
  }

  h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 700 !important;
    font-size: 2rem;
    line-height: 1.2;
    margin: 0;
  }

  h3 {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    margin: 0;
  }

  h4 {
    font-family: "Rubik", sans-serif;
    font-weight: 700 !important;
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0;
  }

  h5,
  h6 {
    font-family: "Crimson Text", serif;
    font-weight: bold;
  }

  p {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
  }

  b {
    font-weight: bold;
  }

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  blockquote {
    padding: 24px;
    font-style: italic;
  }

  .outer-container {
    @apply mx-auto w-full max-w-[1120px] px-8;
  }

  .inner-container {
    @apply mx-auto w-full max-w-[960px] px-8;
  }

  .dot-bg {
    background: radial-gradient(
          2px 2px at 50% 50%,
          rgba(255, 255, 255, 1) 50%,
          transparent 50%
        )
        top / 12px 12px repeat,
      radial-gradient(
          4px 4px at 50% 50%,
          rgb(0, 0, 0, 0.2) 50%,
          transparent 50%
        )
        top / 12px 12px repeat;
  }

  .animate-in {
    animation: animate-in 0.5s ease-out;
  }

  .fade-in {
    animation: fade-in 1s ease-out;
  }

  .fade-in.fast {
    animation: fade-in 0.5s ease-out;
  }

  body:has(input:checked) {
    overflow: hidden;
    height: 100vh;
  }

  @keyframes animate-in {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
